<%include inc/header.html%>
<script>
(function(){
  var lis = document.querySelectorAll('#sidebar>ul>li');
  lis[1].className = 'active';
})();
</script>
<style>
  table td.center {
    text-align: center;
  }
  table td i.fa {
    margin-right: 8px;
    font-size: 14px;
  }
</style>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Slideshares</a> </div>
    <h1>My Slideshares</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
      <%if(slides.length <= 0){%>
        <div class="alert alert-block">
          <%if(!http.get('q')){%>
          There is no slideshares. You can create one.
          <%}else{%>
          No slides found. The query string is `<%=http.get('q')%>`.
          <%}%>
        </div>
      <%}else{%>
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="checkall" name="checkall" /></th>
                  <th>Title</th>
                  <th>Theme</th>
                  <th>Author</th>
                  <th>State</th>
                  <th>Create Time</th>
                  <th>Operate</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i = 0; i < slides.length; i++){%>
                  <tr>
                    <td><input type="checkbox" data-id="<%=slides[i].id%>"/></td>
                    <td><a href="/admin/slide/preview?id=<%=slides[i].id%>&theme=<%=slides[i].theme%>" title="preview" target="_blank"><%=slides[i].title%></a></td>
                    <td><%=slides[i].theme%></td>
                    <td><%=slides[i].name%></td>
                    <td class="taskStatus"><span class="<%=slides[i].state==0?'in-progress':(slides[i].state==1?'done':'pending')%>"><%=slides[i].state==0?'draft':(slides[i].state==1?'online':'deleted')%></span></td>
                    <td class="center"><%=new Date(slides[i].createTime).toLocaleString()%></td>
                    <td class="center">
                      <a href="/admin/index/edit?id=<%=slides[i].id%>" title="edit"><i class="fa fa-pencil-square-o"></i></a> 
                      <a href="/admin/slide/publish?id=<%=slides[i].id%>" title="publish"><i class="fa <%=slides[i].state===1?'fa-unlock':'fa-lock'%>"></i></a>
                      <a href="/admin/slide/delete?id=<%=slides[i].id%>" title="delete"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
        <%include inc/pager.html%>
      <%}%>
        <div class="btn-wrapper">
          <a id="edit" href="/admin/index/edit" class="btn btn-success"><i class="fa fa-plus"></i> New Slide</a>
          <button id="remove" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--end-main-container-part-->

<%include inc/footer.html%>

<script>
$('#checkall').on('click', function(e){
  if(e.target.checked){
    $('table input[type="checkbox"]').attr('checked', true);
  }else{
    $('table input[type="checkbox"]').attr('checked', false);
  }
});
$('#remove').on('click', function(e){
  var ids = [];
  $('table input[type="checkbox"]').each(function(i, o){
    if(o.id !== 'checkall' && o.checked){
      ids.push($(o).attr('data-id'));
    }
  });
  location.href = '/admin/slide/delete?id=' + ids.join();
});
</script>

</body>
</html>