<%include inc/header.html%>
<script>
(function(){
  var siderbar = document.getElementById('sidebar');
  var lis = siderbar.getElementsByTagName('li');
  lis[1].className = 'active';
})();
</script>
<style>
  table td.center {
    text-align: center;
  }
  table td i.fa {
    margin-right: 8px;
    font-size: 14px;
  }
  #save_state{
    margin: 0;
    display: none;
  }
</style>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Edit Slideshare</a> </div>
    <h1>Edit Slideshare</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div id="save_state" class="alert alert-info"></div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <form id='save_form' action="/admin/slide/save" method="post" class="form-horizontal">
              <input id="sid" name="sid" type="hidden" value="<%=slide_data.id || ''%>"/>
              <div class="control-group">
                <label class="control-label">Title :</label>
                <div class="controls">
                  <input id="title" name="title" required type="text" value="<%=slide_data.title||''%>"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Theme :</label>
                <div class="controls">
                  <select id="theme" name="theme">
                    <option value="beige">beige</option>
                    <option value="black" selected>black</option>
                    <option value="blood">blood</option>
                    <option value="league">league</option>
                    <option value="moon">moon</option>
                    <option value="night">night</option>
                    <option value="serif">serif</option>
                    <option value="simple">simple</option>
                    <option value="sky">sky</option>
                    <option value="solarized">solarized</option>
                    <option value="white">white</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Content</label>
                <div class="controls">
                  <textarea id="slide_content" name="slide_content" required><%-slide_data.content||''%></textarea>
                </div>
              </div>
              <div class="form-actions">
                <a href="/admin/slide/preview" target="matrix-preview" id="preview" class="btn btn-primary">Preview</a>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--end-main-container-part-->

<%include inc/footer.html%>

<script>
(function(){'use strict'
  $('#theme').val("<%=slide_data.theme || 'black'%>");

  function preview(){
    var content = $("#slide_content").val() || $("#title").val() || '# Untitled Slideshare';
    if(content){
      localStorage.setItem('slide_content', content);
      return true;
    }
  }

  function getRange(el) {
    var cuRange, tbRange, headRange, range, dupRange, ret = {};
    if(el.setSelectionRange){
      // standard
      ret.begin = el.selectionStart;
      ret.end = el.selectionEnd;
      ret.result = el.value.substring(ret.begin, ret.end);
    }else if(document.selection){
      // ie
      if(el.tagName.toLowerCase() === 'input'){
          cuRange = document.selection.createRange();
          tbRange = el.createTextRange();
          tbRange.collapse(true);
          tbRange.select();
          headRange = document.selection.createRange();
          headRange.setEndPoint('EndToEnd', cuRange);
          ret.begin = headRange.text.length - cuRange.text.length;
          ret.end = headRange.text.length;
          ret.result = cuRange.text;
          cuRange.select();
      }else if(el.tagName.toLowerCase() === 'textarea'){
          range = document.selection.createRange();
          dupRange = range.duplicate();
          dupRange.moveToElementText(el);
          dupRange.setEndPoint('EndToEnd', range);
          ret.begin = dupRange.text.length - range.text.length;
          ret.end = dupRange.text.length;
          ret.result = range.text;
      }
    }
    el.focus();
    return ret;
  }

  function getCurrentPage() {
    var $textArea = $("textarea"), currentPosition = getRange( $textArea[0] ).begin;
    return $textArea.val()
          .slice(0, currentPosition)
          .split(/[\r\n]/g)
          .filter(function(text) { return /^\-{3,}$/.test(text) })
          .length;
  }

  $(document).on("keydown", function(e) {
    if( String.fromCharCode(e.keyCode) === 'M' && e.ctrlKey ) {
      $("#preview")[0].click();
      e.preventDefault();
    }
  });

  $('#preview').on('click', function(e){
    e.target.href = '/admin/slide/preview?theme=' + $('#theme').val()+'&_t='+ (new Date).getTime() +'#/'+getCurrentPage();
    return preview();
  });

  $('#save_form').submit(function(){
    $.ajax({
      type:'POST',
      url:'/admin/slide/save',
      data:$(this).serialize(),
      success: function(res){
        if(!res.err){
          $('#save_state').removeClass('alert-error').addClass('alert-info');
          $('#save_state').html('Saved at ' + (new Date()).toLocaleString());
          $('#save_state').show();
        }else{
          $('#save_state').removeClass('alert-info').addClass('alert-error');
          $('#save_state').html(res.err);
          $('#save_state').show();
        }
      },
      error: function(){
        $('#save_state').removeClass('alert-info').addClass('alert-error');
        $('#save_state').html(res.err);
        $('#save_state').show();
      }
    });
    return false;
  });

  //autosave
  setInterval(function(){$('#save_form').submit()}, 12000);
})();
</script>

</body>
</html>
