<%include inc/header.html%>
<script>
(function(){
  var siderbar = document.getElementById('sidebar');
  var lis = siderbar.getElementsByTagName('li');
  lis[1].className = 'active';
})();
</script>
<style>
  table td.center {
    text-align: center;
  }
  table td i.fa {
    margin-right: 8px;
    font-size: 14px;
  }
  #save_state{
    margin: 0;
    display: none;
  }
  #slide_content {
    visibility: hidden;
    height: 290px;
  }
  #file_uploader, #file{
    display: none;
  }
  #file_uploader_progress {
    height: 10px;
    display: none;
  }
</style>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Edit Slideshare</a> </div>
    <h1>Edit Slideshare</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div id="save_state" class="alert alert-info"></div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <form id='save_form' action="/admin/slide/save" method="post" class="form-horizontal">
              <input id="sid" name="sid" type="hidden" value="<%=slide_data.id || ''%>"/>
              <div class="control-group">
                <label class="control-label">Title :</label>
                <div class="controls">
                  <input id="title" name="title" required type="text" value="<%=slide_data.title||''%>"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Theme :</label>
                <div class="controls">
                  <select id="theme" name="theme">
                    <option value="beige">beige</option>
                    <option value="black" selected>black</option>
                    <option value="blood">blood</option>
                    <option value="league">league</option>
                    <option value="moon">moon</option>
                    <option value="night">night</option>
                    <option value="serif">serif</option>
                    <option value="simple">simple</option>
                    <option value="sky">sky</option>
                    <option value="solarized">solarized</option>
                    <option value="white">white</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <textarea id="slide_content" name="slide_content" required><%-slide_data.content||''%></textarea>
                <input id="file" accept="image/*;capture=camera" capture="camera" name="file" type="file"></input>
              </div>
              <div class="form-actions">
                <div class="btn-wrapper">
                  <button id="file_uploader" type="button" class="btn btn-warning">Insert Image</button>
                  <a href="/admin/slide/preview" target="_blank" id="preview" class="btn btn-primary">Preview</a>
                  <button type="submit" class="btn btn-success">Save</button>
                  <div id="file_uploader_progress" class="progress progress-mini active progress-striped">
                    <div style="width: 100%;" class="bar"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--end-main-container-part-->
<link rel="stylesheet" href="/static/module/codemirror/lib/codemirror.css">
<script src="/static/module/codemirror/lib/codemirror.js"></script>
<script src="/static/module/codemirror/addon/edit/continuelist.js"></script>
<script src="/static/module/codemirror/mode/css/css.js"></script>
<script src="/static/module/codemirror/mode/xml/xml.js"></script>
<script src="/static/module/codemirror/mode/markdown/markdown.js"></script>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("slide_content"), {
  mode: 'markdown',
  lineNumbers: true,
  theme: "default",
  extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
});
if(window.URL || window.webkitURL || window.FileReader){
  $('#file_uploader').show();
  $('#file_uploader').click(function(){
    $('#file').click();
    //editor.replaceSelection('aaa');
  });
  $('#file').on('change', function(evt){
      var fileInput = evt.target;
      var file = fileInput.files[0];
      var URL = window.URL || window.webkitURL;

      if(0 && window.FileReader){
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
          //console.log(this.result);
          postImageData(this.result);
        }
      }else if(URL){
        var blob = URL.createObjectURL(file);
        getImageData(blob, function(data){
          //console.log(data);
          postImageData(data);
        });
      }
  });

  function postImageData(data){
    data = data.replace(/^data:image\/\w+;base64,/, "");
    var file = $('#file').val().split(/\/|\\/);

    $('#file_uploader_progress>div').css('background-color', '');
    $('#file_uploader_progress').show();
    $.ajax({
      type: 'POST',
      url: '/admin/file/post',
      data: {data:data, file:file[file.length-1]},
      dataType: 'json', 
      success: function(res){
        if(!res.error && res.url){
          $('#file_uploader_progress>div').css('background-color', '#9bdf14');
          setTimeout(function(){
            $('#file_uploader_progress').hide();
          }, 100);
          editor.replaceSelection('<img src="'+res.url+'"/>');
        }else{
          $('#file_uploader_progress>div').css('background-color', '#ee5f5b');
          $('#save_state').addClass('alert-error').removeClass('alert-info');
          $('#save_state').html('upload image error.');
          $('#save_state').show();          
        }
      },
      error: function(res){
        $('#file_uploader_progress>div').css('background-color', '#ee5f5b');
        $('#save_state').addClass('alert-error').removeClass('alert-info');
        $('#save_state').html('upload image error.');
        $('#save_state').show();  
      }
    });
  }

  function getImageData(uri, callback){
    var img = new Image();
    img.src = uri;
    img.onload = function(evt){
      //console.log(img.width, img.height);
      var w = img.width, h = img.height;
      var _canvas = document.createElement('canvas');
      _canvas.width = w;
      _canvas.height = h;
      _canvas.getContext('2d').drawImage(img, 0, 0, w, h, 0, 0, w, h);
      var d = _canvas.toDataURL("image/png");
      callback(d);
    }
  }
}
</script>
<%include inc/footer.html%>
<script>
(function(){'use strict'
  $('#theme').val("<%=slide_data.theme || 'black'%>");

  function preview(){
    var content = editor.getValue() || $("#slide_content").val() || $("#title").val() || '# Untitled Slideshare';
    if(content){
      localStorage.setItem('slide_content', content);
      return true;
    }
  }

  $('#preview').on('click', function(e){
    e.target.href = '/admin/slide/preview?theme=' + $('#theme').val();
    return preview();
  });

  $('#save_form').submit(function(){
    $.ajax({
      type:'POST',
      url:'/admin/slide/save',
      data:$(this).serialize(),
      success: function(res){
        if(!res.err){
          $('#save_state').removeClass('alert-error').addClass('alert-info');
          $('#save_state').html('Saved at ' + (new Date()).toLocaleString());
          $('#save_state').show();
        }else{
          $('#save_state').removeClass('alert-info').addClass('alert-error');
          $('#save_state').html(res.err);
          $('#save_state').show();
        }
      },
      error: function(){
        $('#save_state').removeClass('alert-info').addClass('alert-error');
        $('#save_state').html(res.err);
        $('#save_state').show();
      }
    });
    return false;
  });

  //autosave
  setInterval(function(){$('#save_form').submit()}, 120000);
})();
</script>

</body>
</html>